h1{
    text-align: center;
    color: white;
    background-color:navy;
    padding: 10px;
    letter-spacing: 3px;
}

h2 {
    text-align: center;
}

.shipButtons {
    text-align: center;
}

#ships {
    text-align: center;
}

.letterLabels{
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

.numLabels {
    font-style: oblique;
    font-weight: bold;
    padding-top: 20px;
}

<<<<<<< HEAD
.wrap
{
    width: 100%;
    overflow:auto;
    padding:2px;
}
.fleft
{
    margin-left: 20%;
    align-items: center;
    float:left;
    width: 30%;
||||||| a483053

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
=======
.wrap
{
    width: 100%;
    overflow:auto;
    padding:2px;
}
.fleft 
{
    margin-right: 20%;
    align-items: center;
    float: right; 
    width: 30%;
>>>>>>> 9b928c5d289feadedff2bd517136002a5d73ab36
}
.fright
{
    margin-left: 20%;
    align-items: center;
    float: left;
    width: 30%;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
}

.numLabels{
    font-style: oblique;
    font-weight: bold;
    line-height: 3.5em;
    text-align: center;
}

.column {
    display: table-row;
}

.cell {
border: 3px solid rgb(100, 100, 100);
height: 50px;
width: 50px;
}

#switch,#ready {
    border: 2px solid red;
    color: black;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 15px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
    margin-left: 630px;
}

#switch:hover,#ready:hover {
    background-color: red;
    border: none;
    color: white;
    padding: 17px 32px;
    cursor: pointer;
}

.red{
    background-color: red;
}

.empty{
    background-color: lightblue;
}

.miss{
    background-color:rgb(4, 54, 100);
}
