
h1{
    text-align: center;
    color: white;
    background-color:navy;
    padding: 10px;
    letter-spacing: 3px;
}

h2 {
    text-align: center;
}

.shipButtons {
    text-align: center;
}

#ships {
    text-align: center;
}

.letterLabels{
    font-style: oblique;
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
}

.numLabels {
    font-style: oblique;
    font-weight: bold;
    padding-top: 20px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    padding: 50px;
}

.numLabels{
    font-style: oblique;
    font-weight: bold;
    line-height: 3.5em;
    text-align: center;
}

.column {
    display: table-row;
}

.cell {
border: 3px solid rgb(100, 100, 100);
color: white;
text-align: center;
vertical-align: middle;
line-height: 50px;
height: 50px;
width: 50px;
}
#buttons{
  text-align: center;

}
#switch {
    border: 2px solid red;
    color: black;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 15px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
}

#ready{
    border: 2px solid red;
    color: black;
    background-color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    padding: 15px 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    align-content: center;
}
#boardContainer{
  display:flex;
  justify-content: center;
}

#switch:hover,#ready:hover {
    background-color: red;
    border: none;
    color: white;
    padding: 17px 32px;
    cursor: pointer;
}

.red{
    background-color: red;
}

.grey{
    background-color: darkgray;
}

.empty{
    background-color: lightblue;
}

.miss{
    background-color:rgb(4, 54, 100);
}
.sunk{
    background-color:rgb(24, 27, 33);
}

#result{
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: blue;
}
#toggleDir {
    background-color: white;
    padding: 10px;
    color: black;
}

#toggleDir:hover {
    background-color: lightblue;
}
